<li class="span3" id="<%= dom_id(tab) %>" data-id="<%= tab.id %>" data-receive-post-url="<%= receive_post_tab_path(tab) %>">
  <div class="thumbnail">
    <div class="caption">
      <h3><%= link_to tab.name, tab %></h3>
      <p>Drop the post here</p>
      <p>Drop the post here</p>
      <p>Drop the post here</p>
    </div>
  </div>
</li>
