<div class="container">
  <div class="row">
    <div class="span4">
      <!--Sidebar content-->
      <ul class="thumbnails" id="tabs">
        <li class="span3" id="<%= dom_id(@tab) %>" data-id="<%= @tab.id %>">
          <div class="thumbnail">
            <div class="caption">
              <h3><%= @tab.name %></h3>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="span8">
      <!--Body content-->
      <ul class="thumbnails" id="posts">
        <%= render @tab.posts %>
      </ul>
    </div>
  </div>
</div>
